body{
    background-color: rgb(37, 22, 3);
    margin:0;
    overflow: hidden;

    div{
        position: absolute;
        width: 50vw;
        height: 100vh;
        background-color: rgb(22, 13, 1);
        p{
            font-size: 2rem;
            display: block;
            top: 40%;
            width: 100%;
            text-align: center;
            position: relative;
            color: white;
            z-index: 5;
        }

    }
}
